@{
    ViewData["Title"] = "Terms";
}

<h2>Terms and Conditions</h2>

<br>
<h2>CONTRACT</h2>
<br>
<li>By signing the rental agreement, the client confirms that (s)he has understood them fully and agrees to the below mentioned terms and conditions.</li>
<li>By signing the rental agreement the client gives TPT Tesla Rent OÜ the right to process and store any personal information as required for the rental agreement.</li>
<li>By signing the rental agreement the customer gives TPT Tesla Rent OÜ the right to debit any contractual costs, extras or fines from their credit-, debit card or from the deposit they transferred prior to car handover.</li>
<br>
<h2>NECESSARY DOCUMENTS</h2>
<br>
<li>To rent a car the customer must present a valid drivers license, personal ID (i.e. ID card) and a valid bank card.</li>
<li>Only the person renting the car is authorized to drive the car i.e. the rental contract acts as the power of attorney.</li>
<li>Additional drivers can be added for a fee.</li>
<li>All drivers under the terms of the rental contract must be at least 25 years of age and have at least 2-years of driving experience. For ages below 30 we require longer driving experience and require higher rental fees.</li>
<br>
<h2>PRICE</h2>
<br>
<li>Rental prices include VAT, milage according to rental period, regular maintenance, insurance and 24h roadside assistance.</li>
<li>Rental price does not include charging unless agreed on otherwise in rental offer / contract.</li>
<li>Rental prices are computed based on rent duration i.e. longer rental periods have a lower cost per day.</li>
<br>
<h2>INSURANCE</h2>
<br>
<li>Rental prices include the mandatory insurance.</li>
<li>Rental prices include also comprehensive insurance (renters deductible is 1000 €)</li>
<li>In case of theft the deductible is up to 20% of the cars insurance value assuming renter returns keys and documents.</li>
<li>Deductible is taken into account for every insurance case. If multiple cases occur during the rental period, then they are treated as separate cases.</li>
<li>The tires and rims are not insured and renter takes full material responsibility for damages. The cars have alloygator rim protectors to reduce potential damages to rims from curbs.</li>
<li>The keys and documents are not insured and in case of their loss or damage the customer is obliged to cover all costs due to their replacment.</li>
<br>
<h2>PAYMENT TERMS</h2>
<br>
<li>The rental price (including extras) is pre-paid before the start of the rental period. The final accounting and corrections are done at the end of the rental period based on the actual duration.</li>
<li>It is possible to pay by credit or debit cards as well as direct bank transfer. It is also possible to pay by cash, but it is disfavored.</li>
<li>In case the customer returns the car before the original end date, then the excess payment is not returned unless agreed upon differently.</li>
<li>If the customer is late in payment in any expense according ot the rental agreement, then they are obliged to pay a late fee of 0.5% on the unpaid amount of every calendar day they are late.</li>
<br>
<h2>DEPOSIT</h2>
<br>
<li>The customer must present a valid credit card (Visa, MasterCard, American Express) with a high enough credit limit when renting the car.</li>
<li>Before the rental period starts we book a deposit of 1000€. We also accept a bank transfer as deposit if requested.</li>
<li>The deposit is used for possible damages as well as fines and other claims from third parties and is returned after the rental period ends and the car has been overseen for damages.</li>
<li>In general if there are no claims the deposit is released or refunded within 1-3 working days.</li>
<li>Owner of the bank card is set as the renter in the rental contract.</li>
<br>
<h2>RENTAL PERIOD</h2>
<br>
<p>The rental period is accounted as:</p>
<li>Day = 12:00 – 09:00</li>
<li>Week = 7 days</li>
<li>Month = 30 days</li>
<br>
<h2>CAR HANDOVER</h2>
<br>
<li>The car is given to the customer with a full battery (at least 80% charged), clean and in a good technical state</li>
<li>During the handover we sign a handover document stating any prior damages to the car. By signing this document the customer agrees to the state of the car as described.</li>
<li>When the car is returned we assume battery charged to at least the same level what we gave the car at unless a separate agreement has been reached</li>
<li>We accept return of the car with partial battery if it’s returned earlier by 1h (50+% battery SoC), 2h (below 50%). Charging fees apply.</li>
<li>During the return the car has to be reasonably clean. We have accounted for a basic car wash and vacuuming post-rental, which the customer needn’t do.</li>
<br>
<h2>MILAGE RESTRICTION</h2>
<br>
<li>The rental price includes milage as per offer or contract.</li>
<li>The standard restriction is 250km / day, but not more than 2000km per month</li>
<li>In case the milage restriction is exceeded we charge an extra fee of €0.5/km</li>
<li>t is possible to rent the car without a milage restriction, but at a cost</li>
<br>
<h2>CAR USAGE</h2>
<br>
<li>The renter is obliged to use the car in good faith and according to accepted methods as well as return it in the same condition it was given at the start of the rental contract</li>
<li>The tenant undertakes to comply with traffic regulations, best practices and existing legislation</li>
<li>Smoking or consumption of drugs/alcohol is prohibited in the car</li>
<li>It is not permitted to drive outside of the Republic of Estonia unless previously agreed upon with Tesla Rent OÜ in writing</li>
<li>It is forbbidden to drive on unofficial roads or roads without proper foundation or on roads where the surface may endanger the cars tires, rims, suspensions or other details></li>
<li>It is forbidden to take the car to a racetrack, take part in any official or unofficial races. It is also not allowed to use the car for driving lessons, paid passenger transport, to carry dangerous goods, livestock etc</li>
<li>It is forbidden to wash the car in an automatic washer that uses brushes as the brushes and powerful water streams can damage the protective adhesive or paint and is very expensive to repair</li>
<li>In case of a car failure Tesla Rent OÜ will if possible offer a replacement car</li>
<li>The car has remote tracking and reports misuse (e.g. driving at excessive speeds), this information is also available retroactively and is used to determine possible fines</li>
<br>
<h2>DEMANDS FROM THIRD PARTIES</h2>
<br>
<li>All damages/fines caused by the client to third parties during the rental period (e.g. speeding tickets, parking fines etc) are to be born by the client also after the end of the rental period</li>
<li>By signing the rental agreement and agreeing to the terms and conditions the customer gives Tesla Rent OÜ the right to debit all fines and fees inclusive of any taxes or added fees from the customers credit card, debit card or discount from the deposit after the end of the rental contract.</li>
<br>
<h2>FINES</h2>
<br>
<li>In case of fines/fees from third parties the customer pays a fine of 30€ in addition to any demands from the third parties.</li>
<li>Driving with the car in excess of allowed speed limit +40km/h the base fine is 100€ to which any speed above the baseline will add 10€ per 1km/h. The speed is determined from the tracking reported by the car and is independent of any police investigation</li>
<li>In and near populated areas the fines for speeding are doubled</li>
<li>Returning the car that doesn’t have a full battery (above 80%) the customer agrees to a fine of 100€ + charging fee unless the customer returns the car early as outlined above</li>
<li>If a thorough cleaning of the interior is required the fee is 25€, if a chemical full cleaning is needed, then the fee is 100€</li>
<li>In case any extras or equipment is missing from the car the customer is required to pay a fine of 50€ to which the costs of replacing the missing or damaged equipment is added</li>
<li>Loss of cars documents is fined at 50€ to which any costs associated to replacemnt of the documents is added</li>
<li>Loss of the cars key costs 50€ + replacement keys cost (all keys need to be replaced at Tesla Motors to replace one key)</li>
<li>Loss of the ELMO charging access card is fined at 30€</li>
<li>In case the customer allows the car to be driven by anyone outside of the agreed contract or uses the car to offer paid services associated with the car, then the fine is 500€</li>
<li>Smoking in the car or consumption of alcohol/drugs is fined at 300€</li>
<li>If the customer is left at the side of the road with an empty battery due to poor planning, then the fine is 100€. In addition in any case the fees for transporting the car to the nearest charging station have to be born by the customer.</li>
<li>Washing the car at an automated car wash is fined at 500€ + replacement of protective adhesive costs or other work needed to repair damage</li>
<li>If the car is not returned at the end of the rental period, then the customer must reimburse a fee three times the standard rate for the excess days unless agreed upon previously. In addition if the late return means loss of business for TPT Tesla Rent OÜ, then the customer is obliged to cover that loss of business.</li>
<li>For negligence, use of the car for what it wasn’t meant  as well as use contrary to what the manufacturer has mandated the fine is 1000€ plus any costs associated to restoring the car to the same condition it was prior to the rental period.</li>
<br>
<h2>OTHER CONDITIONS</h2>
<br>
<li>These conditions are in effect simultaneously with the rental contract. In case of conflict the current conditions apply (except deductible rates)</li>
<li>TPT Tesla Rent OÜ does not cover in case of car failure any associated costs to customers travel plans neither direct or indirect.</li>
<li>TPT Tesla Rent OÜ has the right to change pricing and conditions without prior notice</li>
<br>
<h2>PROCESSING OF PRIVATE DATA</h2>
<br>
<li>Any customer data stored by the online shop is considered confidential and not disclosed to third parties. The company does not disclose such information to third parties unless required by law.</li>
<li>Communication between the customer and banks or credit card payment system is encrypted and therefore provides confidentiality and security for customers financial data. The company does not have access to customers confidential bank or card information.</li>
<li>The private data supplied to the company during the sale of services and products is protected and handled according to private data protection legislation.</li>
<li>Private data is only gathered with the purpose of sales analysis and summaries as well as making offers to customers or for feedback polling.</li>
<li>The private data of the customers is processed by TPT Tesla Rent OÜ (kuskil haridusministeeriumi vastas)</li>
<li>TPT Tesla Rent OÜ may subcontract some other companies to process the private data, but will sign a separate agreement to do so, which will require confidentiality from the third party.</li>
<li>Any such current list can be requested through mail to TPT Tesla Rent OÜ at ksukil polüs or through a digitally signed request to tpt@teslarent.eu</li>
